.modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 90%;
  margin-top: -39px;
}

.container-modal {
  display: flex;
  justify-content: flex-end;

  width: 100%;
  height: 100%;
}

.card-modal .close {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: none;
}

.content {
  display: flex;
  justify-content: space-around;
}

.content .card-modal {
  display: flex;
  margin: 12px;
}

.close {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  font-size: 25px;
  border: none;
}
