
/*Limpar formatações padrão*/
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-size: 1em;
    font-family: "Poppins";
    background: #F1F2EB;
  }
  

#setinha{
position: absolute;
width: 42px;
height: 43px;
left: 85px;
top: 50px;
opacity: 54%;
}

#box{
  position: absolute;
  width: 1370px;
  height: 560px;
  left: 79px;
  top: 114px;
    
  background: #F1F2EB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#image{
  position: absolute;
 left: 110px;
  top: 107px;
}

a{
  color: #FF6B6B;
  text-decoration: none;
}

#login{
  /* Login */

position: absolute;
width: 125px;
height: 68px;
left: 395px;
top: 45px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 67px;
/* identical to box height */

color: #000000;


}

#sem-conta{
  position: absolute;
  width: 242px;
  height: 33px;
  left: 505px;
  top: 355px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 33px;
  color: #FF6B6B;
}

#entrar{
  position: absolute;
  width: 68px;
  height: 25px;
  left: 55px;
  top: 8px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 33px;

  color: #F7FFF7;
}

::placeholder{
  position: absolute;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  text-indent: 5%;
  color: rgba(0, 0, 0, 0.5);
}

#input-email{
  position: absolute;
  left: 740px;
  top: 185px;
  width: 520px;
  height: 55px;
  text-indent: 22px;
  background: #FFFFFF;
  border: 1px solid #3182D9;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

#input-senha{
  position: absolute;
  width: 520px;
  height: 55px;
  left: 740px;
  top: 255px;
  text-indent: 22px;
  background: #FFFFFF;
  border: 1px solid #3182D9;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  }
  
#botao{
  position: absolute;
  width: 185px;
  height: 50px;
  left: 740px;
  top: 325px;

  background: #FF6B6B;
  border: 1px solid #F7FFF7;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  animation: normal;

}

