:link {
  text-decoration: none;
  color: black;
}

#home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px;
}

#home-header img {
  max-width: 180px;
}

#home-header .auth-container {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.home-login {
  color: #ff6b6b;
}

.sign-up-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 190px;
  height: 46px;
  margin-left: 22px;

  border-radius: 5px;
  background: #ff6b6b;
  color: #ffffff;
}

.pesquisa {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 36px;
  margin-bottom: 72px;
}

.pesquisa .search-input {
  width: 604px;

  border-radius: 4px 0px 0px 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#text {
  display: flex;
  text-align: justify;
  margin-left: 12px;
}

.card-search {
  width: 60px;
  display: flex;

  background: #ff6b6b;
  border-radius: 0px 4px 4px 0px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-search:hover,
.sign-up-button:hover {
  background: rgb(242, 80, 80);
  border: 1px solid #fefefe;
}
.pesquisa input:hover {
  border: 1px solid #ff6b6b;
}

.img-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.check-container {
  margin-top: 16px;
  margin-left: 48px;
}

.check-container span {
  margin-left: 8px;
  font-size: 14px;
}

#resposta {
  display: flex;
  flex-wrap: wrap;
}

.card-busca {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 22px;
  min-width: 360px;
  margin: 36px 0 16px 56px;
  background: #ffffff;
}

.card-busca .card-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-busca img {
  margin-top: -48px;
  width: 90px;
  height: 90px;
  border-radius: 45px;
}

.card-busca #title {
  margin-left: 10px;
  font-size: 16px;
}

.card-busca .card-text {
  display: flex;
  margin-left: 12px;
  margin-bottom: 12px;

  font-size: 12px;
  font-style: normal;
}

.card-busca .card-text p {
  margin-left: 5px;
}

.card-busca .contact div {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.card-busca .contact div a {
  display: flex;

  color: rgba(0, 0, 0, 0.5);
}

.card-busca .contact div a:hover {
  color: #3182d9;
}

.card-busca .contact .whats a {
  margin-right: 2px;
  color: #62c370;
}

.card-busca .contact .email a {
  margin-right: 2px;
  color: #ff6b6b;
}

.card-busca .contact .whats p span, .card-busca .contact .email p span {
  margin-left: 6px;
}

.card-busca .detalhes {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  margin-top: 24px;
  background: #dedfda;
}

#resposta .card-busca {
  margin-bottom: 36px;
  border-radius: 5px;
}

.card-busca .detalhes {
  border-radius: 0px 0px 5px 5px;
}

.card-busca .detalhes button {
  align-items: center;
  margin-right: 12px;
  padding: 12px;
  height: 100%;

  border: none;
  border-radius: 5px;
  background: #dedfda;
  color: black;
  cursor: pointer;
}

.card-busca .detalhes button:hover {
  color: #3182d9;
}

@media (max-width: 900px) {
  #home-header {
    padding: 10px;
  }

  #home-header div,
  #home-header img {
    margin-top: 11px;
  }

  #home-header img {
    margin-right: 32px;
    width: 90px;
  }

  #home-header .auth-container {
    width: 169px;
    font-size: 12px;
  }

  .sign-up-button {
    height: 37px;
  }

  .pesquisa {
    width: 45vh;
    height: 38px;
    margin: 34px 29px 84px;
  }

  .card-search {
    width: 145px;
  }

  #resposta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-busca {
    width: 85%;
  }
}
